@import './colors.css';

.btn {
  background-color: var(--orange);
  border-radius: 30px;
  padding: 10px 26px;
  border: none;
  color: var(--white);
  font-family: Poppins, sans-serif;
  font-weight: 900;
  font-size: 1rem;
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1rem);
  margin: 10px 0;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.btn:active {
  cursor: pointer;
  transform: scale(0.9);
}

@media (min-width: 480px) {
  .btn {
    padding: 10px 20px;
  }
}

@media (min-width: 1024px) {
  .btn {
    padding: 10px 20px;
  }
}