@import './colors.css';

.about-book-wrapper {
  margin-top: 150px;
}

.leaves-image {
  width: 120px;
  position: absolute;
  margin-top: -24px;
}

.flower-image {
  width: 90px;
  margin: -17px 0px -34px 215px;
}

.title--margin {
 margin-top: 24px;
}

.app-content {
  display: flex;
}

.apps-image {
  width: 160px;
  margin-right: 14px;
  margin-left: -6px;
}

.app-description {
  margin-top: 12px;
}