.content-box {
  position: relative;
  background-color: var(--white);
  box-shadow: 0px 2px 5px rgba(142, 169, 175, 0.1);
}

.leaf-image {
  width: 120px;
  position: absolute;
  left: 0;
  top: 550px;
  z-index: 3;
}

.flower-image {
  width: 90px;
  position: absolute;
  bottom: 1px;
  right: -12px;
}

.app-content {
  display: flex;
  align-items: center;
  gap: 14px;
  position: relative;
}

.apps-image {
  width: 140px;
}

.ar-image {
  position: absolute;
  width: 170px;
  right:-60px;
}

.ar-description {
  width: 60%;
}

@media screen and (min-width: 768px){
  .leaf-image {
    width: 205px;
    top: 600px;
  }

  .flower-image {
    width: 90px;
  }

  .apps-image {
    width: 200px;
  }

  .ar-image {
    width: 230px;
    right: -80px;
  }
}

@media (min-width: 1024px) {
  .content--flex {
    display: flex;
    gap: 30px;
  }

  .content--flex .content-box {
    width: 50%;
  }

  .leaf-image {
    width: 300px;
    top: 450px;
  }

  .flower-image {
    width: 100px;
  }

  .app-box{
    margin-right: 0;
  }

  .ar-box {
    margin-left: 0;
  }

  .ar-image {
    width: 260px;
    right: -130px;
  }
}