* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Questrial, sans-serif;
  background-color: var(--lightblue);
}

p {
  line-height: 20px;
  font-weight: 400;
  color: var(--darkblue);
  font-size: 1rem;
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
}

.title {
  color: var(--darkgreen);
  font-weight: 900;
  margin-bottom: 10px;
  font-family: Londrina Solid, sans-serif;
  font-size: 27px;
}

.content-wrapper {
  border-radius: 10px;
  margin: 30px;
  padding: 30px;
}

@media (min-width: 480px) {
  .title {
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  p {
    line-height: 25px;
  }
  
  .content-wrapper {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 40px;
  }

  .content--max-width {
    max-width: 1200px;
    margin: 0 auto;
  }
}
