@import './components/main-rules.css';
@import "./colors.css";
@import './components/button.css';  
.cta{
    display: inline-block;
    padding: 7px 0;
    width: 100px;
    border: 1px solid #fff;
    border-radius:  50px;
    text-align: center;
    text-decoration: none;
    color: var(--darkblue);
    background: #fff;
  }
  
  .modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    width: 89%;
    height: 76%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0);
  }
  .close{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #c44a4a;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .modal-close{
    transform: translateY(-200%);
  }
  
  
  
  .modal-form {
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin-top: 59px;
    margin-right: 47px;
    margin-top: 0px;
  }
  
  .modal_form_input {
    height: 48px;
    border-radius: 12px;
    width: 218px;
    color: var(--darkblue);
    padding: 7px;
    margin-right: 45px;
  }

  .modal_h3{
    font-family: 'Londrina Solid', cursive;
    color: var(--darkgreen);
    font-size: 28px;
    padding: 10px;
    align-items: center;
    display: flex;
    margin-top: 73px;
}
  
  
  .modal-img{
    left: 65%;
    height: 97px;
    width: 100px;
    position: absolute;
    top: 81%;
    border-radius: 9px;
  }
  
  .flowers{
    height: 52px;
    width: 79px;
    top: 88%;
    left: 209px;
  
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .cta {
      width: auto;
      padding: 7px 15px; 
    }
  
    .modal {
      width: 45%;
      height: 74%;
      margin-top: 7%;
    }

    .modal_h3{
      margin-left: 47px;
    }
  
    .modal-form{
      margin: 28px;
    }
  
    .modal_form_input {
      width: 100%; 
      margin-right: 0; 
    }
  
    .modal_botton {
      margin-right: 0;
    }
  
    .modal-img {
      width: 86px;
      height: auto;
      top: 83%;
      left: 260px;
  }
  .flowers {
    left: 281px;
    width: 62px;
  }
  }
  @media (min-width: 1024px) {
    .cta {
      width: auto;
      padding: 7px 15px;
    }
  
    .modal {
      width: 36%;
      height: 70%;
      margin-top: 5%;
    }
  
    .modal-form {
      margin-right: 15px; 
      margin-top: 0px;
    }
  
    .modal_form_input {
      width: 100%; 
      margin-right: 0; 
    }
  
  
    .modal-img {
      width: 100px;
      height: auto;
      top: 80%;
      left: 73%;
  }
  
    .flowers {
      width: auto;
      left: 303px;
      top: 379px;
    }
  }
  @media (min-width: 1440px) {
  
    #dynamic-modal{
      margin-left: 39px;
    }
    .modal {
      width: 25%; 
      height: 71%; 
    }
  
    .modal-form {
      margin-right: 10px; /* Ajusta el margen derecho en el formulario */
      margin-top: 0px; /* Elimina el margen superior en el formulario */
    }
  
    .modal_form_input {
      width: 100%; /* Hace que el campo de entrada sea ancho completo */
      margin-right: 0; /* Elimina el margen derecho en el campo de entrada */
    }
  
    .modal-img {
      width: 110px;
      height: auto;
      top: 79%;
      left: 70%;
    }
  
    .flowers {
      top: 379px;
      width: 57px;
      left: 300px;
    }
  }
  
  
  
  