.modal {
  position: fixed;
  z-index: 110;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

.modal-item {
  width: fit-content;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
}

.modal-container .content-box {
  background-image: url(/src/assets/images/modal-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.modal-iframe {
  height: 80vh;
  width: 350px;
  border-radius: 10px;
}

.overflowHidden {
  overflow: hidden !important
}

@media (min-width: 480px) {
  .modal-iframe {
    height: 80vh;
    width: 450px;
  }

  .modal .content-box {
    padding: 30px;
  }
}

@media (min-width: 768px) {
  .modal-iframe {
    width: 650px;
  }
}

@media (min-width: 1024px) {
  .modal-iframe {
    height: 600px;
    width: 650px;
  }
}