body {
  display: grid;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Londrina Solid', cursive;
}

a {
  text-decoration: none;
  color: #366640;
}

.img-position {
  width: 100px;
  position: absolute;
  left: 0;
  top: 0;
}

.leaves {
  top: -30px;
  left: 60px;
}

.leaves-position {
  top: 50px;
  left: -40px;
}

.plants {
  width: 200px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.main-content{
  margin-top: 80px;
}

.coming-soon-text {
  margin-top: -15px;
}

.main-img {
  width: 300px;
}

.contact-text {
  margin: 20px 0 3px;
}

@media (min-width: 820px) {
  h1 {
    font-size: 30px;
  }

  .main-content{
    margin: 0 0 5px;
  }

  .main-img {
    width: 450px;
  }

  .img-position {
    width: 232px;
  }

  .leaves-position {
    top: 100px;
    left: -90px;
  }
  
  .plants {
    width: 500px;
  }
}