



.cta{
  display: inline-block;
  padding: 7px 0;
  width: 100px;
  border: 1px solid #fff;
  border-radius:  50px;
  text-align: center;
  text-decoration: none;
  color: #283773;
  background: #fff;
}

.modal-container{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  width: 26%;
  height: 76%;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: transform 0.8s;
  transform:translateY(0);
}
.close{
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #c44a4a;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
  border-radius: 50%;
}

.modal-close{
  transform: translateY(-200%);
}



.modal-form {
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 59px;
  margin-right: 47px;
}

.modal_form_input{
  height: 63px;
  border-radius: 12px;
  width: 325px;
  color: #34345A;
  padding: 7px  
}
.modal_botton{
  width: 99px;
    height: 38px;
    border-radius: 16px;
    background: #FAAA49;
    color: #ffff;
    border: none;
}
.modal-h3{
  font-family: 'Londrina Solid', cursive;
  color: #366640;
  font-size: 34px;
}

.modal-img{
  left: 77%;
  height: 95px;
  width: 97px;
  position: absolute;
  top: 83%;
  border-radius: 9px;
}

.flowers{
  height: 54px;
  width: 79px;
  top: 90%;
  left: 338px;
}


@media (max-width: 320px) {
  .modal {
    width: 80%; 
    height: auto;
  }
  
  .modal-form {
    width: 90%; 
    max-width: none; 
  }
  
  .modal_form_input {
    width: 100%; 
  }
  
  .modal-h3 {
    font-size: 16px;
  }
  
  .modal-img {
    width: 40px; 
    height: auto; 
  }
}


@media (max-width: 768px) {
  .modal {
    width: 37%;
    height: 81%;
  }
  
  .modal-form {
    width: 100%; 
    max-width: none; 
  }
  
  .modal_form_input {
    width: 89%; 
  }
  
  .modal-h3 {
    font-size: 20px; 
  }
  
    /* .modal-img {
      width: 93px;
      height: 91px;
    } */
}



@media (max-width: 1124px) {
  .modal {
    width: 39%;
    max-width: 600px;
    height: 87%;
  }
  
  .modal-form {
    width: 80%; 
    max-width: 400px; 
  }
  
  .modal_form_input {
    width: 100%; 
  }


  
  .modal-h3 {
    font-size: 24px; 
  }
  
  .modal-img {
    width: 98px; 
  }
}


