@import './components/main-rules.css';
@import './components/button.css';
@import './components/info-cards.css';
@import './components/modal.css';
@import './components/footer.css';
@import './components/hero.css';
